__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pyc
.pyo
*.swp
*.swo
*~
.DS_Store
.venv
venv/
ENV/
.vscode/
.idea/
*.log
data_ingestion/
data_processed/
preprocessing/bigquery.json
*.crc
